<div href="" id="next"><img alt="Breakroom_next" src="/images/breakroom_next.png" /></div>

<div class="grid_8">
  <img alt="Ourtube" id="tv" src="/images/ourtube.png" />

  <div id="playing">
  </div>
</div>
<div class="grid_4">
  <div id="playlist">
  </div>
</div>

<h2 style='margin:10px;'>When a video ends then next video will automatically start. Enjoy.</h2>
<h2 style='margin:10px;'>swartv.com</h2>
<h2 style='margin:10px;'>neeraj.cmu@gmail.com</h2>
